@charset "utf-8";
/* CSS Document */

#rowdata{
	background: rgba(255, 255, 255, 0.5);
	margin:3% 0 3% 0;
	padding:1%;
	border-style:inset;
	border-width:0px 0px 1px 0px;
	border-radius:5px;
}